<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="Origin" />

    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>C# - 标签 - Esofar - 博客园</title>
    <link
      id="favicon"
      rel="shortcut icon"
      href="//common.cnblogs.com/favicon.ico?v=20200522"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="/css/blog-common.min.css?v=7Pwqzj5EBy4dBv4DJNI181rFKP8_OF0hT7jO3o8jAa0"
    />
  
    <link
      id="mobile-style"
      media="only screen and (max-width: 767px)"
      type="text/css"
      rel="stylesheet"
      href="/skins/custom/bundle-custom-mobile.min.css?v=usO6AsdAECy7peUj2-vlt51BZKvOvN1aJZF_Ulh5cz4"
    />

    <link
      type="application/rss+xml"
      rel="alternate"
      href="https://www.cnblogs.com/esofar/rss"
    />
    <link
      type="application/rsd+xml"
      rel="EditURI"
      href="https://www.cnblogs.com/esofar/rsd.xml"
    />
    <link
      type="application/wlwmanifest+xml"
      rel="wlwmanifest"
      href="https://www.cnblogs.com/esofar/wlwmanifest.xml"
    />
    <script>
      var currentBlogId = 235702;
      var currentBlogApp = "esofar";
      var cb_enable_mathjax = false;
      var isLogined = true;
      var isBlogOwner = true;
      var skinName = "Custom";
      var visitorUserId = "5946b2ef-f42a-e511-b908-9dcfd8948a71";
    </script>
    <script src="https://common.cnblogs.com/scripts/jquery-2.2.0.min.js"></script>
    <script src="/js/blog-common.min.js?v=ZMP-E7oivIbnbdC4Ap-FXPEUrs-k9WrJgvJkU43qwDI"></script>
    <script>
      window.$silence = {
          avatar: 'http://images.cnblogs.com/cnblogs_com/esofar/972540/o_avatar.jpg',
          favicon: 'https://files.cnblogs.com/files/esofar/favicon.ico',
          github:  'https://github.com/esofar',
          defaultMode: 'auto',
          defaultTheme: 'c',
          showNavAdmin: true,
          navbars: [{
              title: '标签',
              url: 'https://www.cnblogs.com/esofar/tag/'
          }, {
              title: '归档',
              url: 'https://www.cnblogs.com/esofar/p/'
          }, {
              title: '其他',
              chilren: [{
                  title: '博客园主题',
                  target: '_blank',
                  url: 'https://github.com/esofar/cnblogs-theme-silence/',
              }, {
                  title: '开发者导航',
                  target: '_blank',
                  url: 'https://openmarks.cn/',
              }]
          }],
          catalog: {
              enable: true,
              index: true,
              active: false,
              levels: ['h2', 'h3', 'h4'],
          },
          signature: {
              enable: true,
              author: null,
              license: ['署名-非商业性使用-相同方式共享 4.0 国际', 'https://creativecommons.org/licenses/by-nc-sa/4.0/'],
          },
          sponsor: {
              enable: true,
              text: 'Buy me a cup of coffee ☕.',
              paypal: null,
              wechat: 'https://images.cnblogs.com/cnblogs_com/esofar/972540/o_wechat.png',
              alipay: 'https://images.cnblogs.com/cnblogs_com/esofar/972540/o_alipay.png'
         },
     };
 </script>

  </head>
  <body>
    <div class="esa-loader">
      <div class="box">
          <div class="figure"></div>
          <p class="label">Loading</p>
      </div>
  </div>

  <!-- <div class="p-loading"><div class="loading"><h2>Theme By Mozzie</h2>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span></div></div> -->

    <a name="top"></a>
    <div id="page_begin_html">
      <div class="esa-loader">
        <div class="box">
          <div class="figure"></div>
          <p class="label">Loading...</p>
        </div>
      </div>
    </div>

    <!--done-->
    <div id="home">
      <div id="header">
        <div id="blogTitle">
          <a id="lnkBlogLogo" href="https://www.cnblogs.com/esofar/"
            ><img
              id="blogLogo"
              src="/skins/custom/images/logo.gif"
              alt="返回主页"
          /></a>

          <!--done-->
          <h1>
            <a
              id="Header1_HeaderTitle"
              class="headermaintitle HeaderMainTitle"
              href="https://www.cnblogs.com/esofar/"
              >Esofar's Blog</a
            >
          </h1>
          <h2></h2>
        </div>
        <!--end: blogTitle 博客的标题和副标题 -->
        <div id="navigator">
          <ul id="navList">
            <li>
              <a
                id="blog_nav_sitehome"
                class="menu"
                href="https://www.cnblogs.com/"
              >
                博客园</a
              >
            </li>
            <li>
              <a
                id="blog_nav_myhome"
                class="menu"
                href="https://www.cnblogs.com/esofar/"
              >
                首页</a
              >
            </li>
            <li></li>
            <li>
              <a
                id="blog_nav_contact"
                class="menu"
                href="https://msg.cnblogs.com/send/Esofar"
              >
                联系</a
              >
            </li>
            <li>
              <!--<partial name="./Shared/_XmlLink.cshtml" model="Model" /></li>-->
            </li>
            <li>
              <a id="blog_nav_admin" class="menu" href="https://i.cnblogs.com/">
                管理</a
              >
            </li>
          </ul>

          <div class="blogStats">
            <span id="stats_post_count">随笔 - 28&nbsp; </span>
            <span id="stats_article_count">文章 - 0&nbsp; </span>
            <span id="stats-comment_count">评论 - 518</span>
          </div>
          <!--end: blogStats -->
        </div>
        <!--end: navigator 博客导航栏 -->
      </div>
      <!--end: header 头部 -->

      <div id="main">
        <div id="mainContent">
          <div class="forFlow">
            <h1 class="PostListTitle">当前标签：C#</h1>
            <div class="pager"></div>
            <div id="myposts">
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_1"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/10694319.html"
                  >
                    <span
                      >使用 Docker 在 Linux 上托管 ASP.NET Core 应用程序</span
                    >
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2019-05-03 07:33
                  <span class="post-view-count">阅读:2293</span>
                  <span class="post-comment-count">评论:10</span>
                  <span class="post-digg-count">推荐:19</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=10694319"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_2"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-rpc.html"
                  >
                    <span>[译]RabbitMQ教程C#版 - 远程过程调用(RPC)</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-11-17 22:59
                  <span class="post-view-count">阅读:2226</span>
                  <span class="post-comment-count">评论:2</span>
                  <span class="post-digg-count">推荐:5</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=9944038"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_3"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-topics.html"
                  >
                    <span>[译]RabbitMQ教程C#版 - 主题</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-09-07 08:23
                  <span class="post-view-count">阅读:1648</span>
                  <span class="post-comment-count">评论:3</span>
                  <span class="post-digg-count">推荐:5</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=9600079"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_4"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-routing.html"
                  >
                    <span>[译]RabbitMQ教程C#版 - 路由</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-08-31 18:48
                  <span class="post-view-count">阅读:1949</span>
                  <span class="post-comment-count">评论:0</span>
                  <span class="post-digg-count">推荐:3</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=9567429"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_5"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-publish-subscribe.html"
                  >
                    <span>[译]RabbitMQ教程C#版 - 发布订阅</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-06-12 09:26
                  <span class="post-view-count">阅读:4698</span>
                  <span class="post-comment-count">评论:11</span>
                  <span class="post-digg-count">推荐:2</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=9171458"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_6"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-work-queues.html"
                  >
                    <span>[译]RabbitMQ教程C#版 - 工作队列</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-04-04 15:46
                  <span class="post-view-count">阅读:2794</span>
                  <span class="post-comment-count">评论:5</span>
                  <span class="post-digg-count">推荐:10</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=8717352"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_7"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/8625619.html"
                  >
                    <span>[译]ASP.NET Core 依赖注入深入讨论</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-03-22 18:55
                  <span class="post-view-count">阅读:1969</span>
                  <span class="post-comment-count">评论:12</span>
                  <span class="post-digg-count">推荐:13</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=8625619"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_8"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/rabbitmq-hello-world.html"
                  >
                    <span>[译]RabbitMQ教程C#版 - &quot;Hello World&quot;</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-03-14 09:35
                  <span class="post-view-count">阅读:5298</span>
                  <span class="post-comment-count">评论:8</span>
                  <span class="post-digg-count">推荐:10</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=8559448"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_9"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/dapper.html"
                  >
                    <span>[译]Dapper教程</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2018-01-22 10:04
                  <span class="post-view-count">阅读:1306</span>
                  <span class="post-comment-count">评论:2</span>
                  <span class="post-digg-count">推荐:0</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=8310086"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_10"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/8043792.html"
                  >
                    <span
                      >使用 Nginx 在 Linux 上托管 ASP.NET Core 应用程序</span
                    >
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2017-12-29 09:18
                  <span class="post-view-count">阅读:7462</span>
                  <span class="post-comment-count">评论:26</span>
                  <span class="post-digg-count">推荐:21</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=8043792"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_11"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/5493028.html"
                  >
                    <span>C#基础篇 - 理解委托和事件</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2016-05-22 09:52
                  <span class="post-view-count">阅读:1366</span>
                  <span class="post-comment-count">评论:2</span>
                  <span class="post-digg-count">推荐:5</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=5493028"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_12"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/5105995.html"
                  >
                    <span>自己动手写美女图片下载器</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2016-01-08 18:47
                  <span class="post-view-count">阅读:4192</span>
                  <span class="post-comment-count">评论:34</span>
                  <span class="post-digg-count">推荐:21</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=5105995"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>
              <div class="PostList">
                <div class="postTitl2">
                  <a
                    id="PostsList1_rpPosts_TitleUrl_13"
                    class="vertical-middle"
                    href="https://www.cnblogs.com/esofar/p/5022389.html"
                  >
                    <span>C#基础篇 - 正则表达式入门</span>
                  </a>
                </div>
                <div class="postDesc2">
                  Esofar 2015-12-06 19:31
                  <span class="post-view-count">阅读:634</span>
                  <span class="post-comment-count">评论:0</span>
                  <span class="post-digg-count">推荐:1</span>
                  <a
                    href="https://i.cnblogs.com/EditPosts.aspx?postid=5022389"
                    target="_blank"
                    >编辑</a
                  >
                </div>
                <div class="postText2"></div>
              </div>

              <div class="pager"></div>
            </div>
          </div>
          <!--end: forFlow -->
        </div>
        <!--end: mainContent 主体内容容器-->

        <div id="sideBar">
          <div id="sideBarMain">
            <div id="sidebar_news" class="newsItem">
              <script>
                loadBlogNews();
              </script>
            </div>

            <div id="sidebar_ad"></div>
            <div id="blog-calendar" style="display: none"></div>
            <script>
              loadBlogDefaultCalendar();
            </script>

            <div id="leftcontentcontainer">
              <div id="blog-sidecolumn"></div>
              <script>
                loadBlogSideColumn();
              </script>
            </div>
          </div>
          <!--end: sideBarMain -->
        </div>
        <!--end: sideBar 侧边栏容器 -->
        <div class="clear"></div>
      </div>
      <!--end: main -->
      <div class="clear"></div>
      <div id="footer">
        <!--done-->
        Copyright &copy; 2020 Esofar
        <br /><span id="poweredby">Powered by .NET Core on Kubernetes</span>
      </div>
      <!--end: footer -->
    </div>
    <!--end: home 自定义的最大容器 -->
  </body>
</html>